<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h2>Add a Quote :</h2>
  <form (submit)="onSubmit()" #quoteForm='ngForm' >

  <textarea name='quote' 
    required
    minlength="4"
    [(ngModel)]='quote.text' 
    [ngClass]="{ boxborder : text.errors }"
    #text="ngModel"></textarea>
    <span *ngIf='text.errors'>Error : </span>
    <span *ngIf='text.errors?.required'>Quote is required</span>
    <span *ngIf='text.errors?.minlength'>Minimum length is {{text.errors.minlength.requiredLength}}</span> 

    <p>Author <input type='text' name ='author'
      required 
      minlength="1"
      [(ngModel)]='quote.author'
      [ngClass]="{ boxborder : author.errors }"
      #author="ngModel"></p>
      <span *ngIf='author.errors'>Error : </span>
      <span *ngIf='author.errors?.required'>Quote is required</span>
      <span *ngIf='author.errors?.minlength'>Minimum length is {{author.errors.minlength.requiredLength}}</span> 

    <p><input type='submit' value='Add Quote' [disabled]='!quoteForm.valid'></p>
  </form>
  {{quote.text}}

</body>
</html>
<app-quoteslist [quoteList]='quoteList'></app-quoteslist>